/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

@media (max-width: 7680px) {
  
#search-container {
  position: relative;
}

.search-input {
  padding: 10px;
  width: 200px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.search-input:focus + .overlay {
  display: block;
}

#product-list-container {
  display: none;
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a rolagem vertical */
  border: 1px solid #ccc; /* Opcional: Adicione uma borda para melhorar a aparência */
  padding: 10px; /* Opcional: Adicione um espaçamento interno */
}

.product {
  margin-bottom: 10px; /* Opcional: Adicione um espaçamento entre os itens da lista */
}



/* cabecalho */
.cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 50px;
    border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    padding-left: 50%;
}

.cabecalho-central {
    display: flex;
}

.cabecalho-central-text {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
    gap: 10px;
    align-items: center;

}


.btn {
      color:  rgb(255, 255, 255) !important;
      border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}
.btn-primary {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.bi-person-circle {
  margin-right: 5px;
  font-size: 1.2rem;
  vertical-align: middle;
}



.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}


.compras:hover {
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  opacity: 1;
}

/* carrosel */

.carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 90%;
    margin-left: 6%;
    margin-bottom: 10%;
}

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
    opacity: 0; 
    transition: opacity 0.3s; 
}

.compras:hover {
    background-color: black;
    color: white;
    opacity: 1;
}

.titulo {
  text-align: center;
}

.titulo3 {
  text-align: center;
  padding-top: 8%;
}

.img_suplementos {
  padding-top: 4%;
}

.img_suplementos3 {
  padding-top: 4%;
  padding-left: 12%;
}
.suplementosproteinas {
  padding-left: 10%;
  padding-bottom: 8%;
}

.produtos1 {
  display: flex;
  padding-top: 1%;
}

.produtos2 {
  display: flex;
}

.produtos3 {
  display: flex;
}

.inicio_proteinas {
  background-color: rgb(4, 0, 66);
  color: white;
  display: flex;
  background-image: url('/pages/Tela_Principal/Imagens/Untitled_design__2_.png');
}

.card1 {
  padding-left: 20%;
  padding-top: 3%;
}

.card2 {
  padding-left: 2%;
  padding-top: 3%;
}

.card3 {
  padding-left: 2%;
  padding-top: 3%;
}

.card4 {
  padding-left: 10%;
  padding-top: 3%;
}

.card5 {
  padding-left: 2%;
  padding-top: 3%;
}

.card6 {
  padding-left: 2%;
  padding-top: 3%;
  padding-right: 10%;
}

.card7 {
  padding-left: 18%;
  padding-top: 3%;
}

.card8 {
  padding-left: 2%;
  padding-top: 3%;
}

.card9 {
  padding-left: 2%;
  padding-top: 3%;
}

.compras:hover {
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  opacity: 1;
}

h2 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}


h3 {
font-size: 14px;
margin-bottom: 10px;
}

p {
font-size: 16px;
margin-bottom: 20px;
}

.wheycard {
  color:  gray;
  padding-bottom: 30px;
}

.forma_pagamento {
  color:  gray;
}
.preco {
  padding-top: 10px;
}


.review-count {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.card-lateral-titulo {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-weight: 800;
    text-align: center;
    border-top: 3px solid rgb(0, 0, 0);
}
.card {
    box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.card-lateral-nome {
    text-align: center;
    font-size: 100%;
}

.card-lateral-preco {
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);;
}


/* Rodape cima*/
.footer {
  padding-top: 5%;
}
/* Rodape cima*/
.footer-cima {
  padding: 50px;
  display: flex;
  background-color: lightgray;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}
.footer-card {
  font-size: 1em;
  width: 300px;
  border-radius: 5px;
}

.footer-cima a {
  color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
  text-align: center;
  background-color: lightgray;
}

#outros-links {
  display: flex;
  flex-direction: column;
}
#outros-links a {
  text-decoration: none;

}

.contatos {
  text-decoration: none;
}
.img_suplementos img {
  width: 150%;
  border-radius: 10px 10px 10px 10px;
}

.img_suplementos .card-content {
  padding-top: 15px;
}

.img_suplementos button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.img_suplementos3 img {
  width: 150%;
  border-radius: 10px 10px 10px 10px;
}

.img_suplementos3 .card-content {
  padding-top: 15px;
}

.img_suplementos3 button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
  
}

/* Media Querys */

/* 0 -- 450 celular */
@media (max-width: 450px) {

  .cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid rgb(255, 255, 255); 
    margin-bottom: 0px;

  }

  .cabecalho-logo {
    height: 100px;
    order: 1;
    padding-left: 10%;
  }

  .cabecalho-central {
  display: none;
}
  
  .btn-lupa {
    display: none;
}
  
  .search-input {
    width: 170px;
}
  
 .footer {
   padding-top: 10%;
 }
  
.footer-cima {
    display: inline-block;
    padding-bottom: 5%;
  }

  img[alt="rodape"] {
    width: 40%;
  }
  
.footer-card {
  font-size: 1em;
  width: 400px;
  border-radius: 5px;
}
  .footer-baixo {
  text-align: center;
  background-color: lightgray;
}

  .suplementosproteinas {
  padding-left: 10%;
  padding-bottom: 15%;
}
  
  .card1  {
    display: none;
  }
  .card2  {
    display: none;
  }
  .card3  {
    display: none;
  }

  .card4  {
    display: none;
  }

  .card5  {
    display: none;
  }

  .card6  {
    display: none;
  }
  .card7  {
    display: none;
  }
  .card8  {
    display: none;
  }
  .card9  {
    display: none;
  }

  .produtos1 {
   padding-right: 40%;

  }
  
  .produtos2 {
    padding-left: 10%;
    padding-right: 45%;
    width: 70%;
  }

  .produtos3 {
   padding-right: 30%;
  padding-left: 10%;
  }
  
  .cabecalho-icons {
     display: none;

  }
  

  .carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0px;
    margin-left: 0px;
}

}

/* 450 -- 800 tablet */
@media (max-width: 850px) {

  .cabecalho {
    margin-bottom: 0px;
    align-items: center;
  }


  .cabecalho-logo {
    height: 100px;
    order: 1;
    padding-left: 10%;
  }

  .cabecalho-central {
    display: none;
}
  .cabecalho-barra {
    gap: 10px;
    align-items: center;
}
  
  .cabecalho-icons {
    justify-content: space-between;
  }
  .btn-lupa {
    display: none;
}
  
  .search-input {
    width: 170px;
}
  
 .footer {
   padding-top: 10%;
 }
  
.footer-cima {
    display: inline-block;
    padding-bottom: 5%;
    padding-left: 30%;
  }
  
  .footer-card {
  font-size: 1em;
  width: 530px;
  border-radius: 5px;
}
  
  .footer-baixo {
  text-align: center;
  background-color: lightgray;
}

  .suplementosproteinas {
    padding-bottom: 15%;
}
   
  .card2  {
    display: none;
  }
  
  .card3  {
    display: none;
  }

  .card5  {
    display: none;
  }

  .card6  {
    display: none;
  }

  .card8  {
    display: none;
  }
  
  .card9  {
    display: none;
  }

  .produtos2 {
    padding-right: 5%;
  }
 
  .carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 100%;
    margin-bottom: 10%;
    padding-left: 0px;
    margin-left: 0px;
}
  
  .compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0s;
    opacity: 1; 
    transition: opacity 0s; 
}



}
