/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* cabecalho */
.cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    margin-left: 50px;
}

.cabecalho-central {
    display: flex;
    gap: 30px;
}

.cabecalho-central-text {
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho-barra-img {
    padding-bottom: 5px;
    margin-right: 10px;
}

.btn {
    color:  rgb(255, 255, 255) !important;
    border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}

.inicio_creatina {
    background-color: rgb(4, 0, 66);
    color: white;
    display: flex;
}

.t1 {
    padding-left: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.text1 {
    padding-top: 2%;
}
.text2 {
    padding-top: 1%;
}

.politica {
    color: white;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 25%;
    font-size: 19px;
    background-image: url('/Imagens/fundo_acad.jpg');
}

/* Menu Sessao card */

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
}

.compras:hover {
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}


/* Rodape cima*/
.footer-cima {
    padding: 50px;
    display: flex;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}
.footer-card {
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
}

.footer-cima a {
    color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
    text-align: center;
    background-color: lightgray;
}

#outros-links {
    display: flex;
    flex-direction: column;
}
#outros-links a {
    text-decoration: none;

}

.contatos {
    text-decoration: none;
}

/* Media Querys */

@media (max-width: 450px) {
    .cabecalho {
      box-shadow: 0px 0px 1.2px 0px black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      margin-bottom: 20px;
      border-top: 1px solid rgb(255, 255, 255);
    }
  
    .carrosel {
      box-shadow: 10px rgba(255, 255, 255, 0.2);
      width: 100%;
      margin-left: 0;
      margin-bottom: 10%;
    }
    .cabecalho-logo {
      height: 90px;
      padding-left: 3%;
    }

    .btn-lupa {
      display: none;
    }

    .search-input {
      width: 150px;
    }
  
    .footer-cima {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-bottom: 5%;
    }
  
    .footer-card {
      font-size: 1em;
      width: 400px;
      border-radius: 5px;
    }
  
    .footer-baixo {
      text-align: center;
      background-color: lightgray;
    }
  
    .cabecalho-central {
      display: none;
    }

    .t1 h1 {
        font-size: 20px;
    }

    .t1 {
        padding-left: 27%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .politica {
        color: white;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-left: 2%;
        font-size: 13px;
        background-image: url('/Imagens/fundo_acad.jpg');
    }
}