/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* cabecalho */
.cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 50px;
    border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    margin-left: 50px;
}

.cabecalho-central {
    display: flex;
}

.cabecalho-central-text {
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho-barra-img {
    padding-bottom: 5px;
    margin-right: 10px;
}

.search.active input{
  border-radius: 5px 5px 0 0;
}


  .btn {
      color:  rgb(255, 255, 255) !important;
      border: none !important;
  }

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}


.compras:hover {
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  opacity: 1;
}

/* carrosel */

.carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 90%;
    margin-left: 6%;
    margin-bottom: 10%;
}

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
    opacity: 0; 
    transition: opacity 0.3s; 
}

.compras:hover {
    background-color: black;
    color: white;
    opacity: 1;
}

.titulo {
  text-align: center;
}

.titulo3 {
  text-align: center;
  padding-top: 8%;
}

.img_suplementos {
  padding-top: 4%;
}

.img_suplementos3 {
  padding-top: 4%;
  padding-left: 12%;
}
.suplementosproteinas {
  padding-left: 10%;
  padding-bottom: 8%;
}




.produtos1 {
  display: flex;
  padding-top: 1%;
}

.produtos2 {
  display: flex;
}

.produtos3 {
  display: flex;
}

.inicio_proteinas {
  background-color: rgb(4, 0, 66);
  color: white;
  display: flex;
  background-image: url('/pages/Tela_Principal/Imagens/Untitled_design__2_.png');
}

.card1 {
  padding-left: 20%;
  padding-top: 3%;
}

.card2 {
  padding-left: 2%;
  padding-top: 3%;
}

.card3 {
  padding-left: 2%;
  padding-top: 3%;
}

.card4 {
  padding-left: 10%;
  padding-top: 3%;
}

.card5 {
  padding-left: 2%;
  padding-top: 3%;
}

.card6 {
  padding-left: 2%;
  padding-top: 3%;
  padding-right: 10%;
}

.card7 {
  padding-left: 18%;
  padding-top: 3%;
}

.card8 {
  padding-left: 2%;
  padding-top: 3%;
}

.card9 {
  padding-left: 2%;
  padding-top: 3%;
}
.compras:hover {
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  opacity: 1;
}



h2 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}


h3 {
font-size: 14px;
margin-bottom: 10px;
}

p {
font-size: 16px;
margin-bottom: 20px;
}

.wheycard {
  color:  gray;
  padding-bottom: 30px;
}

.forma_pagamento {
  color:  gray;
}
.preco {
  padding-top: 10px;
}


.review-count {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.card-lateral-titulo {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-weight: 800;
    text-align: center;
    border-top: 3px solid rgb(0, 0, 0);
}
.card {
    box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.card-lateral-nome {
    text-align: center;
    font-size: 100%;
}

.card-lateral-preco {
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);;
}


/* Rodape cima*/
.footer {
  padding-top: 5%;
}
/* Rodape cima*/
.footer-cima {
  padding: 50px;
  display: flex;
  background-color: lightgray;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}
.footer-card {
  font-size: 1em;
  width: 300px;
  border-radius: 5px;
}

.footer-cima a {
  color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
  text-align: center;
  background-color: lightgray;
}

#outros-links {
  display: flex;
  flex-direction: column;
}
#outros-links a {
  text-decoration: none;

}

.contatos {
  text-decoration: none;
}

/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 480px) {

  /* footer */
  .footer-cima {
      display: flex;
      flex-direction: column;
      gap: 50px;
  }

}

/* 481 -- 768 tablets */
@media (min-width: 481px) and (max-width: 768px) {

  /* footer */
  .footer-cima {
      display: flex;
      flex-direction: column;
      gap: 30px;
  }
}

/* 769 -- 1279 laptop */
@media (min-width: 769px) and (max-width: 1279px) {

  /* footer */
  .footer-cima {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 30px;
  }

}

/* 1280 -- ++ notebooks e monitores */
@media (min-width: 1280px) {

  /* footer */
  .footer-cima {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 30px;
  }
  
   
    
    .produtos {
      display: flex;
    }
}