/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* cabecalho */
.cabecalho {
  box-shadow: 0px 0px 1.2px 0px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    padding-left: 50%;
}

.cabecalho-central {
    display: flex;
}

.cabecalho-central-text {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
  display: flex;
    gap: 10px;
    align-items: center;

}

.btn {
    color:  rgb(255, 255, 255) !important;
    border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}


/* Menu Sessao card */

.card-text {
    text-align: center;
}

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
    opacity: 0; 
    transition: opacity 0.3s;
}

.produtos1 {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1%;
  }
  
  .produtos2 {
    display: flex;
    gap: 2rem;
    margin-left: 16.5%;
  }
  

.inicio_creatina {
    background-color: rgb(4, 0, 66);
    color: white;
    display: flex;
    background-image: url('/assets/images//Imagens/Untitled_design__2_.png');
}

.t1 {
    padding-left: 17%;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.card1 {
    padding-top: 3%;
  }
  
  .card2 {
    padding-top: 3%;
  }
  
  .card3 {
    padding-top: 3%;
  }
  
  .card4 {
    padding-top: 3%;
  }
  
  .card5 {
    padding-top: 3%;
  }
  
  .card6 {
    padding-top: 3%;
  }
  
  .card7 {
    padding-top: 3%;
  }
  
  .card8 {
    padding-top: 3%;
  }
  
  .card9 {
    padding-top: 3%;
  }
  
  .card10 {
    padding-top: 3%;
  }

.compras:hover {
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
    opacity: 1;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.wheycard {
    color:  gray;
    padding-bottom: 30px;
}

.forma_pagamento {
    color:  gray;
}
.preco {
    padding-top: 10px;
}

.footer {
    padding-top: 5%;
}
/* Rodape cima*/
.footer-cima {
    padding: 50px;
    display: flex;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}
.footer-card {
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
}

.footer-cima a {
    color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
    text-align: center;
    background-color: lightgray;
}

#outros-links {
    display: flex;
    flex-direction: column;
}
#outros-links a {
    text-decoration: none;

}

.contatos {
    text-decoration: none;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #dbdada;
  border-radius: 8px;
  padding: 10px;
}

.search_input {
  color: rgb(0, 0, 0);
  border: 0;
  outline: 0;
  width: 500px;
  background: none;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
}


.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(14, 14, 14);
  text-decoration: none;
}

/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 500px) {
  #cabecalho {
    box-shadow: 0px 0px 0px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: white;
    margin-bottom: 0px;
    border-top: 0px solid rgb(255, 255, 255); 
    height: 170px;
}

#superior {
  display: flex;
  flex-direction: column;
}

#superiorTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#superior a {
  margin-right: 40px;
}

.cabecalho-logo {
  height: 95px;
  padding-left: 0px;  
}

#user {
  margin-left: 40px;
}


  .btn-lupa {
    display: none;
  }
  .search-input {
    width: 150px;
  }

  .footer {
    margin-top: 30%;
  }

  .footer-cima {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 5%;
  }

  .footer-card {
    font-size: 1em;
    width: 400px;
    border-radius: 5px;
  }

  .footer-baixo {
    text-align: center;
    background-color: lightgray;
  }

  .cabecalho-central {
    display: none;
  }

  .produtos1 {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
  }
  
  .produtos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .produtos3 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }

  .compras:hover {
    pointer-events: none;
  }

  .compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ddd;
    transition: 0.2s;
    opacity: 1;
    transition: opacity 0.3s;
  }

  .inicio_proteinas h4 {
    font-size: 18px;
  }
  #superior {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: 4s;
  }

  #superiorTop {
    border: .1px solid rgb(185, 185, 185);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;

  }

  #superiorMid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #enter {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: 28px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  #enter a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #low {
    display: flex;
    flex-direction: column;
  }

  .mobileCard {
    padding: 20px;
    background-color: rgb(9, 90, 228);
  }

  .mobileCard a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  #searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #dbdada;
    border-radius: 8px;
    padding: 8px;

  }
  
  .search_input {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    width: 270px;
    font-size: 13px;
    background: none;
    caret-color: transparent;
    line-height: 0px;
    transition: width 0.4s linear;
  }
  
  
  .search_icon {
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(14, 14, 14);
    text-decoration: none;
  }
  

  #superiorMid .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 25px;
    margin-right: 25px;
    height: 45px;
    background-color: #dbdada;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  #superiorMid .search_input {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    width: 210px;
    font-size: 13px;
    background: none;
    caret-color: transparent;
    line-height: 0px;
    transition: width 0.4s linear;
  }
  
  
  #superiorMid  .search_icon {
    height: 25px;
    width: 0px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(14, 14, 14);
    text-decoration: none;
  }

}

