/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

  
#search-container {
  position: relative;
}

.search-input {
  padding: 10px;
  width: 200px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.search-input:focus + .overlay {
  display: block;
}

#product-list-container {
  display: none;
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a rolagem vertical */
  border: 1px solid #ccc; /* Opcional: Adicione uma borda para melhorar a aparência */
  padding: 10px; /* Opcional: Adicione um espaçamento interno */
}

.product {
  margin-bottom: 10px; /* Opcional: Adicione um espaçamento entre os itens da lista */
}

/* cabecalho */
.cabecalho {
  box-shadow: 0px 0px 1.2px 0px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-color: white;
  margin-bottom: 50px;
  padding-left: 50px;
  border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    padding-left: 50%;
}

.cabecalho-central {
    display: flex;
}

.cabecalho-central-text {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
  display: flex;
    gap: 10px;
    align-items: center;

}

.topbody {
  margin-left: 300px;
}

.midbody {
  display: flex;
  gap: 3rem;
  
}

 #atualizar {
    height: 40px;
    color: white;
    background-color: black;
}

#novo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  height: 50px;
  width: 250px;
  margin-top: 25px;
}

#opcoes {
  margin-top: 25px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 140px 20px 20px;
  box-shadow: 0 0 1.5px #5e5b5b;
}

#opcoes a {
  text-decoration: none;
  color: black;
}

#button {
  border-radius: 5px;
  padding: 6px;
  margin-left: 550px;
  color: white;
  background-color: rgb(12, 12, 12);
}

#botoes{
  display: flex;
  gap: 21rem;
}

#box-options {
  margin-top: 25px;
  height: 40px;
  text-align: center;
  font-size: 13px;
}

#search {
  font-size: 13px;
  padding-left: 10px;
  height: 45px;
  width: 350px;
  margin-top: 25px;
  border-radius: 8px 0 0 8px;
}

#status_pedido {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}



table {
  margin-top: 25px;
  box-shadow: 0 0 1px black;
  text-align: center;
  
}

thead {
  box-shadow:  0 0 1px black;
}

.searchbar button {
  padding: 8px;
  color: white;
  background-color: black;
  border-radius: 0 8px 8px 0;
}

#first {
  display: flex;
  gap: .5rem;
}

#first p {
  font-size: 13px;
}

#second {
  display: flex;
  gap: .5rem;
}

#second p {
  font-size: 13px;
}

#third {
  display: flex;
  gap: .5rem;
}

#third p {
  font-size: 13px;
}

#fourth {
  display: flex;
  gap: .5rem;
}

#fourth p {
  font-size: 13px;
}

#sair {
  display: flex;
  gap: .5rem;
}

#sair p {
  font-size: 13px;
}

#-container {
  position: relative;
}

.search-input {
  padding: 10px;
  width: 200px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.search-input:focus + .overlay {
  display: block;
}

#product-list-container {
  display: none;
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Habilita a rolagem vertical */
  border: 1px solid #ccc; /* Opcional: Adicione uma borda para melhorar a aparência */
  padding: 10px; /* Opcional: Adicione um espaçamento interno */
}

.product {
  margin-bottom: 10px; /* Opcional: Adicione um espaçamento entre os itens da lista */
}


.btn {
      color:  rgb(255, 255, 255) !important;
      border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}
.btn-primary {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.bi-person-circle {
  margin-right: 5px;
  font-size: 1.2rem;
  vertical-align: middle;
}



.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}



/* carrosel */

.carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 85%;
    margin-left: 8%;
    margin-bottom: 10%;
}

.name_user {
  color: #444444;
  margin-left: 320px;
}

.name_user p {
  font-size: 15px;
}

h2 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}


h3 {
font-size: 14px;
margin-bottom: 10px;
}

p {
font-size: 16px;
margin-bottom: 20px;
}


#alterarSenha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 1px black;
    padding: 20px;
    margin-top: 25px;
    width: 600px;
}

#alterarSenha input {
    width: 300px;
    height: 45px;
}

#inputs input {
  font-size: 14px;
  padding: 5px;
}

.label-float {
    font-size: 12px;
}


/* Rodape cima*/
.footer {
  padding-top: 15%;
}

/* Rodape cima*/
.footer-cima {
  padding: 50px;
  display: flex;
  background-color: lightgray;
  color: rgb(0, 0, 0);
  justify-content: space-around;
}

.footer-card {
  font-size: 1em;
  width: 300px;
  border-radius: 5px;
}

.footer-cima a {
  color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
  text-align: center;
  background-color: lightgray;
}

#outros-links {
  display: flex;
  flex-direction: column;
}
#outros-links a {
  text-decoration: none;

}

.contatos {
  text-decoration: none;
}

#novo_endereco {
  box-shadow: 0 0 1px black;
}

#title {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  justify-content: center;
}

#title h6 {
  margin-left: 70px;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo cinza com transparência */
  z-index: 9999; /* Z-index alto para sobrepor o conteúdo */
}

#novo_endereco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Cor de fundo destacada */
  padding: 20px;
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}




#botoes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 20px;
}

#botoes button {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

#inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  padding: 15px;
}

.hidden {
  display: none;
}


/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 450px) {

  .cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 20px;
    border-top: 1px solid rgb(255, 255, 255); 
}


  .carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 100%;
    margin-left: 0;
    margin-bottom: 10%;
}
  .cabecalho-logo {
    height: 90px;
    padding-left: 103%;
}
  .btn-lupa {
    display: none;
}
  .search-input {
  width: 150px;
}

 .footer {
   margin-top: 30%;
 }

  .footer-cima {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 5%;
  }

  .footer-card {
    font-size: 1em;
    width: 400px;
    border-radius: 5px;
  }

    .footer-baixo {
    text-align: center;
    background-color: lightgray;
  }

  .cabecalho-central {
    display: none;
  }

  .topbody {
    display: flex;
    margin-left: 40px;
  }

 
  .topbody p {
    display: flex;
    font-size: 12px;
  }
  
  .midbody {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  
  #opcoes {
    margin-top: 25px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 1.5px #5e5b5b;
  }
  
  #opcoes a {
    text-decoration: none;
    color: black;
  }
  
  #button {
    border-radius: 5px;
    padding: 6px;
    margin-left: 0px;
    color: white;
    background-color: rgb(12, 12, 12);
  }
  
  #botoes{
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  #box-options {
    margin-top: 25px;
    height: 40px;
    text-align: center;
    font-size: 13px;
  }
  
  #search {
    font-size: 13px;
    padding-left: 10px;
    height: 45px;
    width: 110px;
    margin-top: 25px;
    border-radius: 8px 0 0 8px;
  }
  
  #status_pedido {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .searchbar button {
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 0 8px 8px 0;
  }
  
  #first {
    display: flex;
    gap: .5rem;
  }
  
  #first p {
    font-size: 13px;
  }
  
  #second {
    display: flex;
    gap: .5rem;
  }
  
  #second p {
    font-size: 13px;
  }
  
  #third {
    display: flex;
    gap: .5rem;
  }
  
  #third p {
    font-size: 13px;
  }
  
  #fourth {
    display: flex;
    gap: .5rem;
  }
  
  #fourth p {
    font-size: 13px;
  }
  
  #sair {
    display: flex;
    gap: .5rem;
  }
  
  #sair p {
    font-size: 13px;
  }
  
  #alterarSenha input {
    margin-left: 20px;
  }
  
  #novo {
    margin-left: 70px;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo cinza com transparência */
    z-index: 9999; /* Z-index alto para sobrepor o conteúdo */
  }
  
  #novo_endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* Cor de fundo destacada */
    padding: 20px;
    width: 400px;
    color: rgb(0, 0, 0);
  }

  #inputs input {
    width: 150px;
  }
  
}


@media (min-width: 900px) and (max-width: 1500px) {
  .cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-top: 1px solid rgb(255, 255, 255); 
    font-size: 13px;
  }
  
  .cabecalho-logo {
    height: 90px;
    margin-left: 310px;
  }

  .topbody {
    display: flex;  
  }

  .midbody {
    display: flex;
    gap: 2rem;
  }
  
  #opcoes {
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 140px 20px 20px;
    box-shadow: 0 0 1.5px #5e5b5b;
  }
  
  #opcoes a {
    text-decoration: none;
    color: black;
  }
  
  #button {
    border-radius: 5px;
    padding: 6px;
    margin-left: 550px;
    color: white;
    background-color: rgb(12, 12, 12);
  }
  
  #botoes{
    display: flex;
    gap: 21rem;
  }
  
  #box-options {
    margin-top: 25px;
    height: 40px;
    text-align: center;
    font-size: 13px;
  }
  
  #search {
    font-size: 13px;
    padding-left: 10px;
    height: 45px;
    width: 350px;
    margin-top: 25px;
    border-radius: 8px 0 0 8px;
  }
  
  #status_pedido {
    display: flex;
    flex-direction: column;
  }
  
  .hidden {
    display: none;
  }
  
  
  
  table {
    margin-top: 25px;
    box-shadow: 0 0 1px black;
    text-align: center;
    
  }
  
  thead {
    box-shadow:  0 0 1px black;
  }
  
  .searchbar button {
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 0 8px 8px 0;
  }
  
  #first {
    display: flex;
    gap: .5rem;
  }
  
  #first p {
    font-size: 13px;
  }
  
  #second {
    display: flex;
    gap: .5rem;
  }
  
  #second p {
    font-size: 13px;
  }
  
  #third {
    display: flex;
    gap: .5rem;
  }
  
  #third p {
    font-size: 13px;
  }
  
  #fourth {
    display: flex;
    gap: .5rem;
  }
  
  #fourth p {
    font-size: 13px;
  }
  
  #sair {
    display: flex;
    gap: .5rem;
  }
  
  #sair p {
    font-size: 13px;
  }
  
}
