/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.preco a {
    text-decoration: none;
}

/* cabecalho */
#cabecalho {
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    border-top: 1px solid rgb(255, 255, 255); 
    }
  
  .cabecalho-logo {
      height: 110px;
      padding-left: 50%;
  }
  
  .cabecalho-central {
      display: flex;
  }
  
  .cabecalho-central-text {
      text-decoration: none;
      color: white;
      transition: 0.3s;
  }
  
  .cabecalho-central-text:hover {
      color: rgb(255, 255, 255);
  }
  
  .cabecalho-barra {
    display: flex;
      gap: 10px;
      align-items: center;
  
  }

.btn {
    color:  rgb(255, 255, 255) !important;
    border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}

#product {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;

}

.Whey_Body_Action {  
    box-shadow: 0px 0px 1.2px 0px black;
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding-bottom: 70px;
    align-items: center;
}


select {
    padding: 13px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.preco {
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    gap: 10rem;
}


#size {
    padding: 13px;
    width: 55px;
    font-size: 13px;
    background-color: rgb(13, 107, 221);
    color: white;
    border: none;
    text-align: center;
    border-radius: 3px;
}

#frete {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
    font-size: 13px;
    box-shadow:  0px 0px 1.2px 0px black;
    align-items: center;
}

#frete a {
    font-size: 11px;
}

#frete i {
    font-size: 28px;
}

#envio {
    text-decoration: none;
    color: black;
}

#text {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

#superior {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#superior h5 {
    text-align: center;
}

#rating {
    margin-left: 10px;
}

.preco a {
    text-decoration: none;
}

.preco p {
    font-size: 15px;
}

.t1 {
    font-size: 130%;
}



#estoque {
    font-size: 12px;
    color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

#estoque b {
    color: black;
}


.img_whey_bodyaction {
    padding-left: 7%;
    padding-top: 1%;
}
 
.t3 {
    padding-top: 8%;
    color: rgb(0, 0, 0); 
    font-family: 'poppins';
    font-size: 12px;
    font-weight: bold;
    display: flex;
}

.t3 h1 {
    font-size: 32px;
}

.t4 {
    color: grey;
    padding-bottom: 5%;
}

.t5 {
    padding-top: 5%;
    text-align: center;
}
.t6 {
    display: inline-block;
}

.cor_bolepix {
    color: rgb(0, 0, 0); 
}

/* Menu Sessao card */

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
}

.compras2 {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(13, 107, 221);
    transition: 0.2s;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.comprass {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);;
    transition: 0.2s;
    color: rgb(0, 0, 0)    ;
    
}

.Whey_Body_Action img {
    width:23%;
    height: 400px;
    transition: .3s;
    padding-top:50px;
}

.Whey_Body_Action img:hover {
    transform: scale(1.1);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
    padding-top: 6%;
}
/* Rodape cima*/
.footer-cima {
    padding: 50px;
    display: flex;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}
.footer-card {
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
}

.footer-cima a {
    color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
    text-align: center;
    background-color: lightgray;
}

#outros-links {
    display: flex;
    flex-direction: column;
}
#outros-links a {
    text-decoration: none;

}

.contatos {
    text-decoration: none;
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #dbdada;
    border-radius: 8px;
    padding: 10px;
  }
  
  .search_input {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    width: 500px;
    background: none;
    caret-color: transparent;
    line-height: 30px;
    transition: width 0.4s linear;
  }
  
  
  .search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(14, 14, 14);
    text-decoration: none;
  }
/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 500px) {
    #cabecalho {
        box-shadow: 0px 0px 0px 0px black;
        display: flex;
        align-items: 0;
        justify-content: center;
        gap: 4rem;
        background-color: white;
        margin-bottom: 0px;
        border-top: 0px solid rgb(255, 255, 255); 
        height: 170px;
    }
    
    #superior {
      display: flex;
      flex-direction: column;
    }
    
    #superiorTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    #superior a {
      margin-right: 40px;
    }
    
    #user {
      margin-left: 40px;
    }
    
      .carrosel {
        box-shadow: 10px rgba(255, 255, 255, 0.2);  
        width: 100%;
        margin-left: 0;
        margin-bottom: 10%;
    }
      .cabecalho-logo {
        height: 95px;
        padding-left: 0px;  
    }
      .btn-lupa {
        display: none;
    }
      .search-input {
      width: 150px;
    }
    
     .footer {
       margin-top: 30%;
     }
    
      .footer-cima {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 5%;
      }
    
      .footer-card {
        font-size: 1em;
        width: 400px;
        border-radius: 5px;
      }
    
        .footer-baixo {
        text-align: center;
        background-color: lightgray;
      }
    
      .cabecalho-central {
        display: none;
      }
    
      #superior {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
    
      #superiorTop {
        border: .1px solid rgb(185, 185, 185);
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        width: 400px;
        font-size: 12px;
    
      }
    
      #superiorMid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 10px;
      }
    
      #enter {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-left: 28px;
        margin-bottom: 25px;
        font-size: 14px;
      }
    
      #enter a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    
      #low {
        display: flex;
        flex-direction: column;
      }
    
      .mobileCard {
        padding: 20px;
        width: 400px;
        background-color: rgb(9, 90, 228);
      }
    
      .mobileCard a {
        text-decoration: none;
        color: white;
        font-size: 15px;
      }
    
      #searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 40px;
        background-color: #dbdada;
        border-radius: 8px;
        padding: 8px;
    
      }
      
      .search_input {
        color: rgb(0, 0, 0);
        border: 0;
        outline: 0;
        width: 270px;
        font-size: 13px;
        background: none;
        caret-color: transparent;
        line-height: 0px;
        transition: width 0.4s linear;
      }
      
      
      .search_icon {
        height: 20px;
        width: 20px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: rgb(14, 14, 14);
        text-decoration: none;
      }
      
    
      #superiorMid .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 25px;
        margin-right: 25px;
        height: 45px;
        background-color: #dbdada;
        border-radius: 8px;
        padding: 8px;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      
      #superiorMid .search_input {
        color: rgb(0, 0, 0);
        border: 0;
        outline: 0;
        width: 210px;
        font-size: 13px;
        background: none;
        caret-color: transparent;
        line-height: 0px;
        transition: width 0.4s linear;
      }
      
      
      #superiorMid  .search_icon {
        height: 25px;
        width: 0px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: rgb(14, 14, 14);
        text-decoration: none;
      }
    #product {
        padding-left: 70px;
        padding-right: 100px;
        padding-top: 20px;
    
    }
    
    .Whey_Body_Action {  
        box-shadow: 0px 0px 0px 0px black;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        justify-content: center;
        padding-bottom: 70px;
        align-items: center;
    }

    .Whey_Body_Action img {
        width: 250px;
        height: 300px;
        margin-left: 50px;
    }
    
    
    select {
        padding: 14px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid black;
        text-align: center;
    }
    
    .preco {
        margin-top: 70px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }
    
    
    #size {
        padding: 13px;
        width: 55px;
        font-size: 13px;
        background-color: rgb(13, 107, 221);
        color: white;
        border: none;
        text-align: center;
        border-radius: 3px;
    }
    
    #frete {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding: 20px;
        font-size: 13px;
        box-shadow:  0px 0px 1.2px 0px black;
        align-items: center;
    }
    
    #frete a {
        font-size: 11px;
    }
    
    #frete i {
        font-size: 28px;
    }
    
    #envio {
        text-decoration: none;
        color: black;
    }
    
    #text {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    
    #superior {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }
    
    #superior h5 {
        text-align: center;
    }
    
    #rating {
        margin-left: 10px;
    }

    #preco {
        gap: 1rem;    
    }
    
    .preco a {
        text-decoration: none;
    }
    
    .preco p {
        font-size: 15px;
    }
    
    #sabor {
        padding: 7px;
        font-size: 13px;
        background-color: rgb(13, 107, 221);
        color: white;
        border: none;
        text-align: center;
        border-radius: 3px;
    }
    
  }
  

  @media screen and (min-width: 900px) and (max-width:1500px){

    .wheyprom {
        justify-content: center;
    }

    .t2 {
        padding-top: 2%;
        padding-bottom: 15%;
    }
    
    .t3 {
        padding-top: 8%;
        color: rgb(0, 0, 0); 
        font-family: 'poppins';
        font-weight: 700;
        font-weight: bold;
        display: flex;
    }
    
    .t4 {
        color: grey;
        padding-bottom: 5%;
    }
    
    .t5 {
        padding-top: 5%;
        text-align: center;
    }
    
    .t6 {
        display: block;
    }
    
    .beneficios {
        background-color: rgb(171, 171, 185);
    }
    
    .bene {
        text-align: center;
        padding-top: 5%;
    }
    
    .img_bene {
        padding-left:  1%;
    }
    
    .cor_bolepix {
        color: rgb(0, 0, 0);
    }
    
    /* Menu Sessao card */
    
    .compras {
        margin-top: 10px;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        background-color:#ddd;
        transition: 0.2s;
    }
    
    .compras:hover {
        background-color: rgba(0, 0, 0, 0.707);
        color: white;
    }
    

    
    
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      font-family: 'poppins'; 
    }
    
    
    h3 {
      font-size: 14px;
      margin-bottom: 10px;
      font-family: 'poppins'; 
    }
    
    p {
      font-size: 16px;
      margin-bottom: 20px;
      font-family: 'poppins'; 
    } 

    .Whey_Body_Action img {
        width:28%;
    height: 300px;
    }
  }
  